<#bs4Body>
<style>
    .invalid-feedback {
        width: auto;
    }
</style>
<div class="container-fluid">
    <%if (has(chargeRule)){%>
    <form id="addForm" role="form" novalidate>
        <input type="hidden" id="id" name="id" value="${chargeRule.id!}">
        <input type="hidden"  name="action" value="${action}">
        <div class="breadcrumb" >
            基础信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true"
               aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-6 collapse show form-baseParam-box" id="baseInfo">
            <input type="hidden" id="marketId" name="marketId" value="${chargeRule.marketId!}">
            <div class="form-group col">
                <input type="hidden" id="businessType" name="businessType" value="${chargeRule.businessType!}">
                <label for="businessTypeName">业务类型<i class="red">*</i></label>
                <input type="" class="form-control" id="businessTypeName" readonly value="${businessTypeName!}" required>
            </div>
            <div class="form-group col">
                <input type="hidden" id="chargeItem" name="chargeItem" value="${chargeRule.chargeItem!}">
                <label for="chargeItemName">费用科目<i class="red">*</i></label>
                <input type="" class="form-control" id="chargeItemName" readonly value="${chargeItemName!}" required>
            </div>
            <div class="form-group col">
                <label for="ruleName" _log>规则名称<i class="red">*</i></label>
                <input type="" class="form-control" id="ruleName" name="ruleName" placeholder="" maxlength="60" data-rule-reg="^[\u4e00-\u9fa5_a-zA-Z0-9_/\-\.\(\)]{0,60}$^[\u4e00-\u9fa5_a-zA-Z0-9_/\-\.\(\)]{0,60}$" value="${chargeRule.ruleName!}" required>
            </div>
            <div class="form-group col">
                <label for="groupId" _log>分组<i class="red">*</i></label>
                <input type="" class="form-control isInt" id="groupId" name="groupId" placeholder="" value="${chargeRule.groupId!}" range="0 999" required>
            </div>
            <div class="form-group col">
                <label for="minPayment" _log>最低支付金额</label>
                <input type="" class="form-control floatReserve" id="minPayment" name="minPayment" placeholder="" value="${chargeRule.minPayment!}" range="0 999999.99">
            </div>
            <div class="form-group col">
                <label for="maxPayment" _log>最高支付金额</label>
                <input type="" class="form-control floatReserve" id="maxPayment" name="maxPayment" placeholder="" value="${chargeRule.maxPayment!}" range="0 999999.99">
            </div>
            <div class="form-group col">
                <label for="maxPayment">定时生效</label>
                <input type="checkbox" class="form-control" style="width:30px" id="isBackup" name="isBackup" placeholder="" value="1" <%if(chargeRule.isBackup==1){%>checked<%}%>  <%if(chargeRule.id==null||chargeRule.isBackup==1||chargeRule.backupedRuleId!=null){%>disabled<%}%>   >
            </div>
            <div class="form-group col-auto">
                <label for="expireStart">有效期<i class="red">*</i></label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" _log="有效期开始" name="expireStart" id="expireStart"  autocomplete="off"  class="form-control laydatetime laystart" value="${chargeRule.expireStart!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}" required/>
                        <div class="input-group-append">
                            <label for="expireStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text"  _log="有效期结束" name="expireEnd" id="expireEnd"  autocomplete="off"  class="form-control laydatetime layend" value="${chargeRule.expireEnd!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="expireEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            条件指标
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#conditionInfo" aria-expanded="true" aria-controls="conditionInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div id="conditionInfo" class="collapse show">
            <div id="ruleConditionDiv"></div>
        </div>
        <div class="breadcrumb">
            计算指标<a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#calcParamInfo" aria-expanded="true" aria-controls="calcParamInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="collapse show form-calcParam-box" id="calcParamInfo">
            <div class="row">
                <input type="hidden" id="actionExpression" _log="计算表达式" name="actionExpression"  autocomplete="off" value="${chargeRule.actionExpression!}" />
                <div class="form-group col-auto mt-2">
                    <label _log>数学表达式<i class="red">*</i></label>
                    <select name="actionExpressionType" class="form-control">
                        <%for (e in actionExpressionTypeMap){%>  <option value="${e.key}"  <%if(e.key==chargeRule.actionExpressionType){%>selected<%}%> >${e.value}</option><%}%>
                    </select>
                </div>
            </div>
            <div class="row row-cols-4" >
                <div class="col-auto mt-2 mb-2" id="calcVariable">
                    <label class="d-block">计算参数</label>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="1">1</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="2">2</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="3">3</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="4">4</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="5">5</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="6">6</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="7">7</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="8">8</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="9">9</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="0">0</button>
                    <br>
                    <br>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="+">+</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="-">-</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="*">*</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="/">/</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable="(">(</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable=")">)</button>
                    <button class="btn btn-outline-secondary mr-1 btn-variable" type="button" data-variable=".">.</button>
                    <br>
                    <br>
                    <div class="d-inline-block" id="variableListDiv"></div>
                </div>
            </div>

            <div class="row" style="display: block;" id="simpleExpressionDiv">
                <div class="input-group col-12">
                    <div class="w-75 pr-0" id="expressionDiv">
                        <input type="text" id="expressionInput" name="expressionInput" data-target="#actionExpression" class="form-control expressionInput btn-variable" data-varialbe="${chargeRule.actionExpression!}"  value="${chargeRule.actionExpression!}" autocomplete="off" data-value-type="skip" required="required"/>
                    </div>
                    <div class="input-group-append">
                        &nbsp;<span class="input-group-text text-primary clear col-auto"><a href="javascript:;""><i class="fa fa-times" aria-hidden="true"></i></a></span>
                    </div>
                </div>
            </div>
            <div style="display: none;"  id="complexsimpleExpressionDiv">
                <div class="row" id="tieredExpressionDiv">
                    <div class="form-group col-auto">
                        <select class="form-control" name="actionExpressionParams[_start]">
                        </select>
                    </div>
                    <div class="form-group col-auto">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" >前</span>
                            </div>
                            <input class="form-control" _log="阶梯计算[前]" name="actionExpressionParams[_first_tiered_period]" value="${actionExpressionParams['_first_tiered_period']!}"/>
                            <div class="input-group-append">
                                <span class="input-group-text">分钟收费</span>
                            </div>
                            <input class="form-control" _log="阶梯计算[分钟收费]" name="actionExpressionParams[_first_tiered_fee]" value="${actionExpressionParams['_first_tiered_fee']!}" />
                            <div class="input-group-append">
                                <span class="input-group-text">元</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-auto">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" >后每</span>
                            </div>
                            <input class="form-control" _log="阶梯计算[后每]" name="actionExpressionParams[_second_tiered_period]"  value="${actionExpressionParams['_second_tiered_period']!}" />
                            <div class="input-group-append">
                                <span class="input-group-text">分钟收费</span>
                            </div>
                            <input class="form-control" _log="阶梯计算[分钟收费]" name="actionExpressionParams[_second_tiered_fee]"  value="${actionExpressionParams['_second_tiered_fee']!}" />
                            <div class="input-group-append">
                                <span class="input-group-text">元</span>
                            </div>
                        </div>
                    </div>
                    <!--                    <span class="input-group-text text-primary clear col-auto"><a href="javascript:;""><i class="fa fa-times" aria-hidden="true"></i></a></span>-->
                </div>
            </div>

            <div class="row" style="display: none;" id="matchConditionDiv">
                <div class="form-group col-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >时间周期</span>
                        </div>
                        <input class="form-control" _log="时间周期" name="actionExpressionParams[period]"  value="${actionExpressionParams['period']!}" />
                        <div class="input-group-append">
                            <span class="input-group-text">计算参数</span>
                        </div>
                        <input class="form-control" _log="计算参数" name="actionExpressionParams[feeValue]"  value="${actionExpressionParams['feeValue']!}" />

                    </div>
                </div>

            </div>

        </div>

        <div class="breadcrumb">
            其它信息<a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#otherInfo" aria-expanded="true" aria-controls="otherInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row  row-cols-4 collapse show" id="otherInfo">
            <div class="form-group col-8">
                <label for="remark" _log>备注</label>
                <textarea id="remark" class="form-control" name="remark" rows="2" maxlength="50">${chargeRule.remark!}</textarea>
            </div>
        </div>
        <div class="text-right btn-r-b">
            <button type="button" class="btn btn-secondary" onclick="javascript: parent.dia.hide()">取消</button>
            <button type="button" class="btn btn-primary" id="formSubmit">保存</button>
        </div>
    </form>
    <%}else{%>
    <h4 class="red"><span class="px-3">参数丢失</span></h4>
    <%}%>
</div>
</#bs4Body>
<link rel="stylesheet" href="${contextPath}/resources/jquery-expression-builder/expression-builder.css" />
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validator.reg.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/businessInfo.js"></script>
<script type="text/javascript" src="${contextPath}/resources/jquery-expression-builder/expression-builder-v2-exd.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.serializejson-2.9.0.min.js"></script>
<script type="text/javascript" src="${contextPath}/resources/bui/lib/jquery-validation-1.19.1/jquery.validate-extend.js"></script>

<#chargeRule_editJs />

<script>
	var logger =null;
	let logObj = {};
	
	logObj.businessCode = $("#id").val();
	logObj.businessId = $("#id").val();
	
	logObj.systemCode = "RULE";
	logObj.businessType = "dili-rule";
	
	logObj.operationType = "edit";
	if($.trim(logObj.businessCode)==''){
		logObj.operationType = "add";	
	}
	logObj.marketId = '${operator.firmId}';
	logObj.operatorId = '${operator.id}';
	logObj.operatorName = '${operator.realName}';
	logObj.serverIp = '${serverIp}';
	
  $.prototype.tooltip = (function (tooltip) {
      return function (config) {
          try {
              return tooltip.call(this, config);
          } catch (ex) {
              if (ex instanceof TypeError && config === "destroy") {
                  return tooltip.call(this, "dispose");
              } else if (ex instanceof TypeError && config === "fixTitle") {
                  var $e = this
                  if ($e.attr('title') || typeof ($e.attr('data-original-title')) != 'string') {
                      $e.attr('data-original-title', $e.attr('title') || '').attr('title', '')
                  }
                  return this;
              }
          }
      };
  })($.prototype.tooltip);
   /*
    Tooltip.prototype.fixTitle = function () {
    var $e = this.$element
    if ($e.attr('title') || typeof($e.attr('data-original-title')) != 'string') {
    $e.attr('data-original-title', $e.attr('title') || '').attr('title', '')
    }
    }*/

   $('select[name="actionExpressionType"]').change(function () {


       $('#simpleExpressionDiv').hide();
       $('#calcVariable').hide();
       $('#complexsimpleExpressionDiv').hide();
       $('select[name="actionExpressionParams[_start]"]').attr('required',false);
       $('#matchConditionDiv').hide();
       $('#matchConditionDiv').find("input").attr('disabled','disabled');
       $('#matchConditionDiv').find("input").attr('required',false);

       if ($(this).val() === '${@com.dili.rule.domain.enums.ActionExpressionTypeEnum.SIMPLE.getCode()}') {
           $('#simpleExpressionDiv').show();
           $('#calcVariable').show();
       } else if ($(this).val() === '${@com.dili.rule.domain.enums.ActionExpressionTypeEnum.COMPLEX.getCode()}') {
           $('input[name="expressionInput"]').val('');
           $('input[name="actionExpression"]').val('');
           $('#complexsimpleExpressionDiv').show();
           $('select[name="actionExpressionParams[_start]"]').attr('required',true);
           
       } else if ($(this).val() === '${@com.dili.rule.domain.enums.ActionExpressionTypeEnum.MATCH_CONDITION.getCode()}') {
           $('#matchConditionDiv').show();
           $('#matchConditionDiv').find("input").removeAttr('disabled');
           $('#matchConditionDiv').find("input").attr('required',true);
       }
   })
   
   if($("select[name='actionExpressionType']").find("option:selected").index()!=0){
       $('select[name="actionExpressionType"]').trigger('change');
   };
   var _start = '${actionExpressionParams._start!}';

   $('select[name="actionExpressionParams[_start]"]').empty();
   $('select[name="actionExpressionParams[_start]"]').append('<option value="">请选择</option>')
   $.ajax({
       type: "POST",
       url: "${contextPath}/chargeRule/getRuleVariable.action",
       async: true,
       data: {id: '${chargeRule.id!}', marketId: '${chargeRule.marketId!}', businessType: '${chargeRule.businessType!}', dataType: '${@com.dili.rule.domain.enums.ValueDataTypeEnum.DATE.getCode()}'},
       success: function (ret) {
           $.each(ret, function (i, v) {
               if (_start == v.matchKey) {
                   $('select[name="actionExpressionParams[_start]"]').append('<option selected value="' + v.matchKey + '">' + v.label + '</option>')
               } else {
                   $('select[name="actionExpressionParams[_start]"]').append('<option value="' + v.matchKey + '">' + v.label + '</option>')
               }
           });
       },
       error: function (XMLHttpRequest, textStatus, errorThrown) {
           bs4pop.alert('获取计算指标失败', {type: 0});
       }
   })


</script>