
<#bs4Body>


<div class="container-fluid">
    
        <form id="chargeRuleQueryForm" role="form">
            <input type="hidden" id="marketId" name="marketId" value="${marketId!}">
            <div class="row  row-cols-6">
                <div class="form-group col">
                    <label for="businessType">业务类型<i class="red">*</i></label>
                    <select class="form-control" id="businessType" name="businessType" onchange="defaultGetChargeItem()" required>
                        <%if (has(businessTypeList) && isNotEmpty(businessTypeList) && businessTypeList.~size > 0 ){
                            for(businessType in businessTypeList){
                        %>
                            <option value="${businessType.code!}">${businessType.name!}</option>
                        <%}}%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="chargeItem">费用科目<i class="red">*</i></label>
                    <select class="form-control" id="chargeItem" name="chargeItem" required>
                        <option value="">-- 全部 --</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="state">状态</label>
                    <select class="form-control" id="state" name="state"></select>
                    <#bcomboProvider _id="state" _provider="ruleStateProvider" _valueField="value" _textField="text" _value="${state}" _queryParams='{emptyText:"-- 全部 --"}' />
                </div>
                <div class="form-group col">
                    <label for="ruleName">规则名称</label>
                    <input type="" class="form-control" id="ruleName" name="ruleName" placeholder="" maxlength="60" data-rule-reg="^([\u4e00-\u9fa5_a-zA-Z0-9/.()\-]){0,60}$">
                </div>
                <div class="col align-self-center mt-3">
                    <button type="button" class="btn btn-outline-primary mr-2" onclick="clearForm()"><i class="fa fa-refresh"></i> 清空
                    </button>
                    <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询
                    </button>
                </div>
            </div>
        </form>
    
    <hr>
    <div class="">
        <div class="row">
            <div class="col-12">
                <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button id="btn_view" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i>
                        查看
                    </button>
                    <#resource code="addChargeRule">
                    <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i
                            class="fa fa-plus"></i> 新增
                    </button>
                    </#resource>
                    <#resource code="editChargeRule">
                    <button id="btn_edit" type="button" class="btn btn-primary" onclick="openUpdateHandler()"><i
                            class="fa fa-pencil-square-o"></i> 修改
                    </button>
                    </#resource>

                    <#resource code="copyChargeRule">
                    <button id="btn_copy" type="button" class="btn btn-primary" onclick="openCopyHandler()"><i
                            class="fa fa-pencil-square-o"></i> 复制
                    </button>
                    </#resource>

                    <#resource code="delBackupChargeRule">
                    <button id="btn_delete_backup" type="button" disabled class="btn btn-primary" onclick="doDeleteHandler()">
                        <i class="fa fa-trash-o"></i> 删除定时
                    </button>
                    </#resource>
                    <#resource code="modifyBackupChargeRule">
                    <button id="btn_edit_backup" type="button" disabled class="btn btn-primary" onclick="doModifyBackupHandler()">
                        <i class="fa fa-trash-o"></i> 修改定时
                    </button>
                    </#resource>
                    
                    <#resource code="passChargeRule">
                    <!--button id="btn_check_pass" type="button" class="btn btn-primary control-btn" onclick="doCheckHandler(true)">
                        <i class="fa fa-trash-o"></i> 通过
                    </button-->
                    </#resource>
                    <#resource code="notPassChargeRule">
                    <!--button id="btn_check_not_pass" type="button" class="btn btn-primary control-btn" onclick="doCheckHandler(false)">
                        <i class="fa fa-trash-o"></i> 不通过
                    </button-->
                    </#resource>
                    <#resource code="enableChargeRule">
                    <button id="btn_enable" type="button" disabled="disabled" class="btn btn-primary control-btn" onclick="doEnableHandler(true)">
                        <i class="fa fa-play"></i> 启用
                    </button>
                    </#resource>
                    <#resource code="disableChargeRule">
                    <button id="btn_disable" type="button" disabled="disabled" class="btn btn-primary control-btn" onclick="doEnableHandler(false)">
                        <i class="fa fa-stop"></i> 禁用
                    </button>
                    </#resource>
                </div>
                <table id="chargeRuleGrid" data-toggle="table" data-title="计费规则" class="table"
                       data-toolbar="#toolbar"
                       data-pagination="true" data-page-number="1" data-page-size="10" data-query-params="queryParams"
                       data-side-pagination="server" data-method="POST"
                       data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                       data-click-to-select="true" data-checkbox-header="true" data-unique-id="id" data-sort-name="groupId"
                       data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                       data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                    <thead>
                    <tr>
                        <th data-width-unit="%" data-width="2" data-radio="true"></th>
                        <th data-width-unit="%" data-width="6"  data-align="center" data-sortable="true" data-sort-name="priority" data-formatter="priorityFormatter">
                            优先级
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="businessType" data-sortable="true" data-sort-name="business_type" data-provider="dataDictionaryValueProvider" data-query-params='{dd_code:"base_business_type",dd_with_market:"true"}' data-align="center" >
                            业务类型
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="chargeItem" data-align="center" data-sortable="true" data-sort-name="charge_item" data-provider="chargeItemProvider">
                            费用科目
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="ruleName" data-align="center" data-sortable="true" data-sort-name="convert(rule_name using gbk)"  data-formatter="dataFormatterTip">
                            规则名称
                        </th>
                        <th data-width-unit="%" data-width="8" data-field="groupId" data-align="center" data-sortable="true" data-sort-name="group_id">
                            分组
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="conditionLabel" data-align="center" data-formatter="dataFormatterTip">
                            条件指标
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="actionExpressionType" data-align="center"  data-provider="actionExpressionTypeProvider">
                            计算类型
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="minPayment" data-align="center">
                            最低支付金额
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="maxPayment" data-align="center">
                            最高支付金额
                        </th>
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="actionExpression" data-align="center"  data-provider="actionExpressionProvider">
                            计算公式
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="state" data-align="center" data-sortable="true" data-sort-name="State" data-provider="ruleStateProvider">
                            状态
                        </th>
                        <th data-width-unit="%" data-width="20" data-field="expireValue" data-align="center">
                            有效期
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validator.reg.js"></script>
<script id="queryItem" type="text/html">
    <div class="form-group auto_complete">
        <label>{{label}}<i class="red">*</i></label>
        <input class="form-control" id="conditionMap[{{id}}]" data-value-type="skip">
        <input class="form-control" name="conditionMap[{{id}}]" type="hidden">
        </input>
    </div>
</script>

<script type="text/javascript" src="${contextPath}/resources/js/businessInfo.js"></script>

<#chargeRule_listJs />
