<div class="form-conditionParam-box row row-cols-6" name="condition">

    <%if (has(conditionDefinitions) && isNotEmpty(conditionDefinitions) && conditionDefinitions.~size >0 ){
        for(cd in conditionDefinitions){%>
         <input name="conditions[${cdLP.index-1}][definitionId]" value="${cd.id}" type="hidden">
         <input name="conditions[${cdLP.index-1}][matchedKey]" value="${cd.matchedKey}" type="hidden">
        <%
            if(isNotEmpty(cd.dataSourceId)){
    %>
        <!--/*  如果数据源不为空，则认为此项为选择框类型  */-->
        <div class="form-group col form-choice">
            <label for="">${cd.label}</label>
            <div class="input-group">
         		<input id="${cdLP.index-1}" name="conditions[${cdLP.index-1}][matchedValues]" value="${stringListJoin(cd.values,',')}" type="hidden" data-value-type="stringToArray">
                <input value="${stringListJoin(cd.texts,',')}" type="text" class="form-control" size="20" readonly>
                <div class="input-group-append">
                    <span class="input-group-text card-btn  text-primary clear"><a href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i></a></span>
                    <span class="input-group-text card-btn  text-primary choice" data-type="matchType" data-definitionid="${cd.id}" data-label="${cd.label}" data-target="${cdLP.index-1}" data-checkedids="${cd.values}"><a href="javascript:;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></span>
                </div>
            </div>
        </div>
    <%}else{%>
         <!--/*  如果数据源为空，则认为此项为输入框类型   */-->
            <!--/*  输入框的条件类型：  等于 */-->
         <%if(cd.matchType == @com.dili.rule.domain.enums.MatchTypeEnum.EQUALS.getCode()){%>
            <%if(cd.dataType == @com.dili.rule.domain.enums.ValueDataTypeEnum.DECIMAL.getCode()){%>
                <!--/*  输入框的值类型：  小数类型*/-->
                <div class="form-group col">
                    <label for="" >${cd.label}</label>
                    <input id="${cdLP.index-1}" name="conditions[${cdLP.index-1}][matchedValues]" value="${stringListJoin(cd.values,',')}" type="hidden" data-value-type="stringToArray">
                    <input id="${cd.id}_${cd.matchedKey}"  data-target="${cdLP.index-1}" value="${stringListJoin(cd.values,',')}" type="text"class="form-control floatReserve eqInput" size="31"  min="0" max="9999999.99">
                </div>
            <%}else if(cd.dataType == @com.dili.rule.domain.enums.ValueDataTypeEnum.INTEGER.getCode()){%>
                <!--/*  输入框的值类型：  整数类型*/-->
                <div class="form-group col form-number">
                    <label for="">${cd.label}</label>
                    <input id="${cdLP.index-1}" name="conditions[${cdLP.index-1}][matchedValues]" value="${stringListJoin(cd.values,',')}" type="hidden" data-value-type="stringToArray">
                    <input id="${cd.id}_${cd.matchedKey}"  data-target="${cdLP.index-1}" value="${stringListJoin(cd.values,',')}" type="text"  class="form-control isNaturalNum  eqInput" size="31" min="0" max="9999999">
                </div>
            <%}else if(cd.dataType == @com.dili.rule.domain.enums.ValueDataTypeEnum.TEXT.getCode()){%>
                <!--/*  输入框的值类型：  文本类型*/-->
                <div class="form-group col form-text">
                    <label for="">${cd.label}</label>
                    <input id="${cdLP.index-1}" name="conditions[${cdLP.index-1}][matchedValues]" value="${stringListJoin(cd.values,',')}" type="hidden" data-value-type="stringToArray">
                    <input id="${cd.id}_${cd.matchedKey}" data-target="${cdLP.index-1}" value="${stringListJoin(cd.values,',')}" type="text"  class="form-control  eqInput" size="31" maxlength="22">
                </div>
            <%}else if(cd.dataType == @com.dili.rule.domain.enums.ValueDataTypeEnum.DATE.getCode()){%>
                <!--/*  输入框的值类型：  日期类型*/-->
                <div class="form-group col form-date">

                </div>
            <%}%>
        <%}else if(cd.matchType == @com.dili.rule.domain.enums.MatchTypeEnum.BETWEEN.getCode()){%>
                <!--/*  输入框的条件类型：  范围 */-->
            <%if(cd.dataType == @com.dili.rule.domain.enums.ValueDataTypeEnum.DECIMAL.getCode()){%>
                <!--/*  输入框的值类型：  小数类型*/-->
                <div class="form-group col-3 form-range" data-name="${cd.id}_${cd.matchedKey}">
                    <label for="" >${cd.label}</label>
                    <input id="${cdLP.index-1}" name="conditions[${cdLP.index-1}][matchedValues]" value="${stringListJoin(cd.values,',')}" type="hidden" data-value-type="stringToArray">
                    <div class="input-group">
                        <input  data-target="${cdLP.index-1}"  value="${cd.values.~size?cd.values.get(0):''}" type="text" class="form-control cusFloatReserve betweenMinInput" size="12">
                        <label class="error" ></label>
                    </div> -
                    <div class="input-group">
                        <label style="display: none">-</label>
                        <input data-target="${cdLP.index-1}" value="${cd.values.~size>1?cd.values.get(1):''}" type="text" class="form-control cusFloatReserve betweenMaxInput" size="12">
                        <label class="error" ></label>
                    </div>
                </div>
            <%}else if(cd.dataType == @com.dili.rule.domain.enums.ValueDataTypeEnum.INTEGER.getCode()){%>
                <!--/*  输入框的值类型：  整数类型*/-->
                <div class="form-group col-3 form-range" data-name="${cd.id}_${cd.matchedKey}">
                    <label for="">${cd.label}</label>
                    <input id="${cdLP.index-1}" name="conditions[${cdLP.index-1}][matchedValues]" value="${stringListJoin(cd.values,',')}" type="hidden" data-value-type="stringToArray">
                    <div class="input-group">
                        <input data-target="${cdLP.index-1}" value="${cd.values.~size>0?cd.values[0]:''}" type="text" class="form-control cusIsNaturalNum  betweenMinInput"  size="12" >
                        <label class="error" ></label>
                    </div> -
                    <div class="input-group">
                        <label style="display: none">-</label>
                        <input data-target="${cdLP.index-1}" value="${cd.values.~size>1?cd.values[1]:''}" type="text" class="form-control cusIsNaturalNum  betweenMaxInput" size="12" >
                        <label class="error" ></label>
                    </div>
                </div>
            <%}else if(cd.dataType == @com.dili.rule.domain.enums.ValueDataTypeEnum.TEXT.getCode()){%>
                <!--/*  输入框的值类型：  日期类型*/-->
                <div class="form-group col-3 form-date">

                </div>
            <%}%>
        <%}else if(cd.matchType == @com.dili.rule.domain.enums.MatchTypeEnum.IN.getCode()){%>
            <div class="form-group col form-text">
                <label for="">${cd.label}</label>
                <input id="${cd.id}_${cd.matchedKey}" name="${cd.id}_${cd.matchedKey}" matchedKey="${cd.matchedKey}" value="${stringListJoin(cd.values,',')}" type="text"  class="form-control" size="31" maxlength="50" placeholder="如有多个值，以英文逗号隔开">
            </div>
        <%}%>
    <%}}}%>
</div>