<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<script src="/resources/bui/js/global.js"></script>

<div id="app">
    <form id="queryForm" role="form">
        <input type="hidden" id="page" name="page" value="1">
        <input type="hidden" id="rows" name="rows" value="10">
        <input type="hidden" id="definitionId" name="definitionId" value="${conditionDefinition.id}">
        <div class="row row-cols-4">
            <%if (has(inputConditionDefinitions) && isNotEmpty(inputConditionDefinitions) && inputConditionDefinitions.~size >0 ){
            for(input in inputConditionDefinitions){
            %>
            <div class="form-group col-auto">
                <label for="">${input.label}</label>
                <input type="text" class="form-control"  name="${input.matchKey}" value="${params[input.matchKey]}">
            </div>
            <%}%>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2"
                        onclick="javascript:$('#queryForm .form-control').val('');"><i
                        class="fa fa-refresh"></i> 清空
                </button>
                <button type="button" class="btn btn-outline-primary" onclick="queryData();"><i
                        class="fa fa-search"></i> 查询
                </button>
            </div>
            <%}%>

        </div>
    </form>
    <hr>
    <div class="row">
        <el-input placeholder="输入关键字进行过滤" v-model="filterText"></el-input>
        <el-tree :data="data" ref="tree" :props="defaultProps" node-key="id" show-checkbox @check-change="handleCheckChange" :filter-node-method="filterNode"></el-tree>
    </div>
</div>

<script>


    var displayColumnCode=JSON.parse('${displayColumn}').columnCode;
    var parentColumnCode='${parentColumn!}';
    var matchColumn='${conditionDefinition.matchColumn}';

    $('#selectedItem').hide()

    /**
     * 条件查询操作
     */
    function queryData() {
        let formData = $('#queryForm').serializeJSON();
        loadAjaxTable($("#definitionId").val(), formData);
        $('.checkedShow tr').each(function (i, ele) {
            $('.checkboxWrap tr[data-id="' + $(ele).data('id') + '"]').find(':checkbox').prop('checked', true);
        })
    }

    var app = new Vue({
        el: '#app',
        data() {
            return {
                filterText: '',
                data: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            };
        },
        watch: {
            filterText(val) {
            this.$refs.tree.filter(val);
        }
    },
        methods: {
             filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
      },
            handleCheckChange(data, checked, indeterminate) {
                let checkedNodes = this.$refs.tree.getCheckedNodes();
                var idList = checkedNodes.map(item => {
                    return new String(item[matchColumn]).toString();
                });
                var textList = checkedNodes.map(item => {
                    return new String(item[displayColumnCode]).toString();
                });
                addUnconfirmedListData(idList,textList)
            }
        }
    })

    //

    function loadTreeData(){
        bui.loading.show('数据加载中...');
        var ajaxSettings= {
            type: 'post',
            url: "${contextPath}/conditionDefinition/queryRemoteData.action",
            contentType: "application/json",
            data: JSON.stringify({params: JSON.parse('${jsonParams}'), dataSourceId: '${dataSourceId}'})
        }
        $.ajax(ajaxSettings).done((ret)=>{
            if (ret.success) {
                app.data = toEleTree(ret.data, {label: displayColumnCode, pid: parentColumnCode});
                app.$refs.tree.setCheckedKeys(conditionData.checkedData.idList);
            } else {
                bs4pop.alert(ret.result, {width: 400, type: 'error'});
            }
        }).fail((e)=>{
            bs4pop.alert('远程访问出错', {width: 400, type: 'error'}, function () {});
        }).always(()=>{
            bui.loading.hide();
        })
    }
    loadTreeData();
</script>
