<#bs4Body>

<div class="container-fluid">
    <%if (has(dataSourceDefinition)){%>
        <form id="addForm" role="form" novalidate>
            <input type="hidden" id="id" name="id" value="${dataSourceDefinition.id!}">
            <div class="row row-cols-2">
                <div class="form-group col">
                    <label for="name" class="">名称<i class="red">*</i></label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="20" required value="${dataSourceDefinition.name!}"/>
                </div>
                <div class="form-group col">
                    <label for="dataSourceType" class="">数据来源<i class="red">*</i></label>
                    <select id="dataSourceType" name="dataSourceType" class="form-control" required>
                        <%for(dataSourceType in dataSourceTypeEnumList){%>
                        <option value="${dataSourceType.code}" <%if(dataSourceDefinition.dataSourceType==dataSourceType.code){%>selected<%}%>>${dataSourceType.desc}</option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="queryUrl" class="">数据URL<i class="red">*</i></label>
                    <input type="text" class="form-control url" id="queryUrl" name="queryUrl" maxlength="255" value="${dataSourceDefinition.queryUrl!}" placeholder="如果来源为远程，则需设置数据URL" />
                </div>
                <div class="form-group col">
                    <label for="" class="">查询条件</label>
                    <textarea type="text" id="queryCondition" name="queryCondition"  placeholder="远程数据查询时，固定值查询条件(JSON格式) " class="form-control isJSON" maxlength="500">${dataSourceDefinition.queryCondition!}</textarea>
                </div>
                <div class="form-group col">
                    <label for="paged" class="">是否分页<i class="red">*</i></label>
                    <select id="paged" name="paged" class="form-control" required title="远程接口数据是否需要分页"></select>
                    <#bcomboProvider _id="paged" _provider="yesOrNoProvider" _queryParams='{required:true}' _valueField="value" _textField="text" _value="${dataSourceDefinition.paged!}" />
                </div>
                <div class="form-group col">
                    <label for="keysUrl" class="">查询URL<i class="red">*</i></label>
                    <input type="text" class="form-control url" id="keysUrl" name="keysUrl" maxlength="255" value="${dataSourceDefinition.keysUrl!}" placeholder="数据查询时的URL" />
                </div>
                <div class="form-group col">
                    <label for="keysField" class="">查询字段</label>
                    <input type="text" class="form-control" id="keysField" name="keysField" maxlength="50" value="${dataSourceDefinition.keysField!}" placeholder="通过数据查询时的字段名称" />
                </div>
                <div class="form-group col">
                    <label for="dataJson" class="">本地数据</label>
                    <textarea type="text" id="dataJson" name="dataJson"  placeholder="JSON格式的本地数据，如果来源为本地，需填写此项 " class="form-control isJSON" maxlength="500">${dataSourceDefinition.dataJson!}</textarea>
                </div>
                <div class="form-group col">
                    <label for="autoCompleteQueryKey" class="">联想查询Key</label>
                    <input type="text" class="form-control" id="autoCompleteQueryKey" name="autoCompleteQueryKey" value="${dataSourceDefinition.autoCompleteQueryKey!}" maxlength="50" placeholder="联想查询规则Key" />
                </div>
            </div>
            <div class="text-right mt-2">
                <button type="button" class="btn btn-secondary px-5" id="formCancel" onclick="javascript:parent.dia.hide()">取消</button>
                <button type="button" class="btn btn-primary px-5" id="formSubmit">保存</button>
            </div>
        </form>
    <%}else{%>
        <h4 class="red"><span class="px-3">数据源信息已不存在</span></h4>
    <%}%>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.serializejson-2.9.0.min.js"></script>
<script>
    $('#dataSourceType').on('change',function(){
        let inputList=$('input[name="queryUrl"], input[name="keysUrl"]')
        let redLabels=inputList.siblings('label').find('i[class="red"]');

        if($(this).val()=='${@com.dili.rule.domain.enums.DataSourceTypeEnum.LOCAL.getCode()}'){
        redLabels.hide()
        inputList.prop('required',false)
    }else{
        redLabels.show()
        inputList.prop('required',true);
    }

    })
    $('#dataSourceType').trigger('change')
</script>
<#dataSourceDefinition_editJs />