<#bs4Body>

<div class="container-fluid">
    <input type="hidden" id="definitionId" value="${conditionDefinition.id}">
    <input type="hidden" id="selectedids" value="[]"/>
    <div class="table-wrap row justify-content-between">
        <div id="popupDiv" class="col-8">

        </div>

        <div class="table-showlist checkedShow col-3">
            <table class="table table-bordered table-hover table-condensed" id="selectedItem">
                <tr>
                    <th>${conditionDefinition.label!}</th>
                </tr>
            </table>
        </div>
    </div>
</div>
</#bs4Body>
<script>
    function addSelectedItem(key,text){
        $('.checkedShow .table').append('<tr data-id="' + key + '"><td>' + text + '<i class="fa fa-times remove-btn float-right" aria-hidden="true"></i></td></tr>');
    }
    function removeSelectedItemByKey(key){
        alert('removeSelectedItem')
    }
    var choice = parent.window.choiceTarget;
    //debugger
    var checkedids = choice.data('checkedids');
    var checkedtexts = (choice.data('checkedids') ? choice.parents('.input-group').find('.form-control').val().split(',') : []).filter(function(v,i){
        return $.trim(v)!='';
    });

    var conditionData={
        checkedData:{
            idList:checkedids,
            textList:checkedtexts
        },
        unconfirmedData:{
            idList:[],
            textList:[],
        },
        unconfirmedBatchData:{
            batched:false,
            idList:[],
            textList:[],
        },
        removableData:{
            idList:[],
            textList:[],
        }
    }
    /**
     * 批量增加未确认选择数据
     * @param {type} idList
     * @param {type} textList
     * @returns {undefined}
     */
    function addUnconfirmedListData(idList,textList){
       conditionData.unconfirmedBatchData.batched=true;
        conditionData.unconfirmedBatchData.idList=idList;
        conditionData.unconfirmedBatchData.textList=textList;
    }
    /**
     * 增加未确认数据到列表
     * @param {type} id
     * @param {type} text
     * @returns {undefined}
     */
    function addUnconfirmedData(id,text){
        conditionData.unconfirmedData.idList.push(id)
        conditionData.unconfirmedData.textList.push(text)
    }
    /**
     * 增加要被删除数据到列表
     * @param {type} id
     * @param {type} text
     * @returns {undefined}
     */
    function addRemovableData(id,text){
        conditionData.removableData.idList.push(id)
        conditionData.removableData.textList.push(text)
    }
    /**
     * 合并并返回最终数据
     * @returns {conditionData.checkedData}
     */
    function confirmConditionData(){
        if(conditionData.unconfirmedBatchData.batched===true){
            conditionData.checkedData.idList=conditionData.unconfirmedBatchData.idList;
            conditionData.checkedData.textList=conditionData.unconfirmedBatchData.textList;
            return conditionData.checkedData;
        }
        $.each(conditionData.unconfirmedData.idList,function(i,id){
            if($.inArray(id,conditionData.checkedData.idList)<0){
                conditionData.checkedData.idList.push(id);
                conditionData.checkedData.textList.push(conditionData.unconfirmedData.textList[i]);
            }
        });
        $.each(conditionData.removableData.idList,function(i,id){
            var index=$.inArray(id,conditionData.checkedData.idList);
            if(index>=0){
                conditionData.checkedData.idList.splice(index,1);
                conditionData.checkedData.textList.splice(index,1);
            }
        })
        return conditionData.checkedData;
    }
    /* 选择项 子父页面的存储 处理  */
    $(document).ready(function () {
        let definitionId = $('#definitionId').val();
        loadAjaxTable(definitionId);
        $.each(conditionData.checkedData.idList, function(k,ele) {
            $('body').find('.checkboxWrap [data-id="' + parseInt(ele) + '"]').find(':checkbox').click();
            if (!$('.checkedShow .table [data-id="' + ele + '"]').length) {
                $('.checkedShow .table').append('<tr data-id="' + parseInt(ele) + '"><td>' + conditionData.checkedData.textList[k] + '<i class="fa fa-times remove-btn float-right" aria-hidden="true"></i></td></tr>');
            }
        });
    });

    /**
     * 根据条件定义，动态加载表格
     * @param definitionId
     * @param params
     */
    function loadAjaxTable(definitionId, params) {
        let data = {};
        $.extend(data, {'definitionId': definitionId});
        $.extend(data, params);
        let json =  JSON.stringify(data);
        let html = $.ajax({
            type: "POST",
            url: "${contextPath}/conditionDefinition/popupPage.action",
            data: json,
            contentType: "application/json",
            dataType: "json",
            async: false,
        }).responseText;
        $("#popupDiv").html(html);
    }


</script>
