<#bs4Body>
<div class="container-fluid">
    <form id="conditionQueryForm" role="form" >
        <input type="hidden" id="dataTargetId" name="dataTargetId" value="${dataTargetId!}">
        <input type="hidden" id="ruleCondition" name="ruleCondition" value="0">
    </form>
    <hr>
    <div class="">
        <div class="row">
            <div class="col-12">
                <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <#resource code="addQueryInput">
                    <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i class="fa fa-plus"></i> 新增</button>
                    </#resource>
                    <#resource code="editQueryInput">
                    <button id="btn_edit" type="button" class="btn btn-primary" onclick="openUpdateHandler()"><i
                            class="fa fa-pencil-square-o"></i> 修改
                    </button>
                    </#resource>
                    <#resource code="delQueryInput">
                    <button type="button" class="btn btn-primary" onclick="doDeleteHandler()">
                        <i class="fa fa-trash-o"></i> 删除
                    </button>
                    </#resource>
                </div>
                <table id="conditionQueryGrid" data-toggle="table" data-title="数据源查询框列表" class="table" data-toolbar="#toolbar"
                       data-pagination="true" data-page-number="1" data-page-size="10" data-query-params="queryParams"
                       data-side-pagination="server" data-method="POST"
                       data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                       data-click-to-select="true" data-checkbox-header="true" data-unique-id="id" data-sort-name="id"
                       data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                       data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                    <thead>
                    <tr>
                        <th data-width-unit="%" data-width="2" data-radio="true"></th>
                        <th data-width-unit="%" data-width="10" data-field="label" data-sortable="true"
                            data-sort-name="convert(label using gbk)" data-align="center">
                            查询框名称
                        </th>
                        <th data-width-unit="%" data-width="15" data-field="matchKey" data-sortable="true" data-align="center">
                            匹配Key
                        </th>
                        <th data-width-unit="%" data-width="5" data-field="matchType" data-sortable="true" data-sort-name="condition_type" data-align="center" data-provider="matchTypeProvider">
                            条件类型
                        </th>
                        <th data-width-unit="%" data-width="15" data-field="dataType" data-align="center" data-sort-name="data_type" data-provider="valueDataTypeProvider">
                            值类型
                        </th>
                        <th data-width-unit="%" data-width="15" data-field="defaultValues" data-align="center" >
                            默认值
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</#bs4Body>
<#conditionDataSource_queryInputListJs />
